<h3>Create Player for 2017-2018 NBA Season | <%= link_to "NBA Teams", teams_path %></h3>
<hr>
<br>
<%= form_for @player do |f| %>
    <%= f.label :name, "Player Name:" %>
    <%= f.text_field :name %>
    <br>
    Team:<%= f.collection_select :team_id, @teams, :id, :name, prompt: true %>
    <br>
    <br>
    <%= f.submit %>
<% end %>